.grid {
    position: relative;
    min-width: 3000px;
    height: 1000px;
}

.wrap-grid {
    width: 100%;
    height: 500px;
    overflow: auto;
    border: 1px solid #dedede;
    box-sizing: content-box;
    padding-bottom: 10px;
}

.col {
    width: 70px;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid black;
    position: relative;
}

.date-line {
    display: flex;
    position: absolute;
    bottom: 50px;
    font-size: 14px;
}

.event {
    position: absolute;
    min-width: 30px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.event:hover, .stage:hover  {
    opacity: 0.7;
}

.event-line {
    position: absolute;
    bottom: 150px;
}

.month {
    position: absolute;
    margin-top: 10px;
    font-size: 12px;
    min-width: 100px;
}

.stage-line {
    position: absolute;
    bottom: 0;
}

.stage {
    position: absolute;
    min-width: 30px;
    text-align: center;
    cursor: pointer;
}