.control-form__button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-group__add-event {

}
.button-group__add-state {
    margin-left: 20px;
}