.form-event {
    width: 60%;
    margin: 20px auto;
    padding: 40px;
    background: #f7f7f7;
    max-width: 800px;
}

.form-event__group {
    margin: 20px 0;
}

.event-in-form {
    display: inline-block;
    background: rgb(139, 139, 216);
    border-radius: 10px;
    font-size: 14px;
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.65);
}